<div class='wrapper' xmlns="http://www.w3.org/1999/html">
    <header>
      <div id="logo" onclick="slowscroll('#top')"> <!-- onclick="slowscroll('#top')" -->
        <span>SPYDERMAN</span>
      </div>
      <div id="reg">
        <a href="/users/sign_in" tytle="login" id="login">log in</a>
        <a href="/users/sign_up" tytle="signup" id="signup">sign up</a>
      </div>
    </header>

    <div>
      <!--<div class="info">
          <span>Find that dude from tinder
          </span>-->
    </div>*/

  <form action="home#index", method="post", class="search", name = "search">
    VK
    <input class="search_vk" type="text" placeholder="Enter ID" name="search[vk_link]">
    Instagram
    <input class="search_inst" type="text" placeholder="Enter username" name="search[inst_link]">
    Twitter
    <input class="search_twit" type="text" placeholder="Enter screen name" name="search[twi_link]">
    <br/>
    <button class="search_botton" type="submit", name="commit", data-disable-with="Save Search">Search</button>
  </form>
    <!--<input class="search" type="search" autocomplete="off" spellcheck="false" aria-live="polite" placeholder="Search">
    <input class="search" type="search" autocomplete="off" spellcheck="false" aria-live="polite" placeholder="Enter inst">
    <input class="search" type="search" autocomplete="off" spellcheck="false" aria-live="polite" placeholder="Enter twitter"><-->
  </div>



